<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="de.codecentric.currentradioaccesstechnology"
        version="0.1.0">

  <name>CurrentRadioAccessTechnology</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/currentradioaccesstechnology.js" target="js/currentradioaccesstechnology.js"/>

  <js-module src="www/currentradioaccesstechnology.js" name="currentradioaccesstechnology">
    <clobbers target="currentradioaccesstechnology" />
  </js-module>

  <platform name="ios">

    <config-file target="config.xml" parent="/widget">
      <feature name="CurrentRadioAccessTechnology">
        <param name="ios-package" value="CurrentRadioAccessTechnology" />
      </feature>
    </config-file>

    <header-file src="src/ios/CurrentRadioAccessTechnology.h" target-dir="CurrentRadioAccessTechnologyPlugin"/>
    <source-file src="src/ios/CurrentRadioAccessTechnology.m" target-dir="CurrentRadioAccessTechnologyPlugin"/>
  </platform>

</plugin>
